---
title: Home
layout: base
---

<h2>Movies</h2>

<ul class="movies">
  {% for movie in movies %}
    <li>
      <a href="/movie/{{ movie._id }}/">{{ movie.year }} {{ movie.title }}</a>
      <img src="{{ movie.poster }}" class="poster" />
    </li>
  {% endfor %}
</ul>
